<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="DefaultConnection" connectionString="Server=tcp:fixes-dev.database.windows.net,1433;Initial Catalog=Fixes-dev;Persist Security Info=False;User ID=monkey;Password=Abstractinterface123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
</connectionStrings>
